* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --tw-bg-opacity: 1;
}

/* Header */
#header-info {
    /* background-color: #5d87e2;
    background-image: linear-gradient(
        181deg,
        #5d87e2 0%,
        #4d65e6 50%,
        #1347e8 100%
    ); */
    background-image: url("../images/header-bg.webp");
    background-repeat: no-repeat;
}

#header-info .container {
    padding-inline: 32px;
}

#header-info .wrapper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
}

#header-info .wrapper-header .link-header,
#header-info .wrapper-header .right .download,
#header-info .wrapper-header .right .contact,
#header-info .wrapper-header .right .contact a {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 600;
}

#header-info .wrapper-header .right .download {
    position: relative;
    cursor: pointer;
}

#header-info .wrapper-header .right .download:hover .wrapper-qr {
    display: block;
}

#header-info .wrapper-header .right .download .wrapper-qr {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;
    left: 1%;
    top: 152%;
    background-color: #fff;
    padding: 5px;
    display: none;
    transition: all 0.8s ease-in-out;
}

#header-info .wrapper-header .right .download .wrapper-qr::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    top: -8%;
    right: 8%;
}

#header-info .wrapper-header .right .download .wrapper-qr img {
    width: 100%;
    height: 100%;
}

#header-info .wrapper-header .link-header span {
    text-decoration: underline;
}

#header-info .wrapper-header svg {
    fill: var(--color-white);
}

#header-info .wrapper-header .right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#header-info .header-top {
    padding: 16px 32px 5px 32px;
}

#header-info .header-top .nav {
    display: grid;
    grid-template-columns: auto 60% auto;
    align-items: center;
}

#header-info .header-top .nav .nav-filter .wrapper-filer {
    padding: 0px 22px;
    position: relative;
}

#header-info .header-top .nav .nav-filter .wrapper-filer button {
    position: absolute;
    background-color: #c1d0f6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    top: 12%;
    right: 4%;
}

#header-info .header-top .nav .nav-filter .wrapper-filer input {
    padding: 16px;
    width: 100%;
    border-radius: 30px;
    border: none;
    font-size: 1.7rem;
}

#header-info .header-top .nav .nav-filter .wrapper-filer input:focus {
    outline: none;
}

#header-info .header-top .list-search {
    display: flex;
    align-items: center;
    margin: 1.2rem 0;
    justify-content: center;
    gap: 2rem;
    width: 95%;
}

#header-info .header-top .list-search li {
    font-size: 1.5rem;
    color: var(--color-white);
}

#header-info .header-top .nav .nav-action .wrapper-action {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

#header-info .header-top .nav .nav-action .wrapper-action .link-sign-up,
#header-info .header-top .nav .nav-action .wrapper-action .wrapper-cart {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    color: var(--color-white);
    font-weight: 600;
}

#header-info .header-top .nav .nav-action .wrapper-action .wrapper-cart {
    background-color: #1250dc;
    height: 48px;
    border-radius: 42px;
    padding: 4px 16px;
}

/* Menu */
#navbar .wrapper-menu .list-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    height: 44px;
}

#navbar .wrapper-menu .list-menu li {
    position: relative;
}

#navbar .wrapper-menu .list-menu li:hover::after {
    width: 100%;
}

#navbar .wrapper-menu .list-menu li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #1250dc;
    left: 0;
    bottom: -60%;
    transition: all 0.5s ease-in;
}

#navbar .wrapper-menu .list-menu li a {
    font-size: 1.5rem;
    color: var(--color-black);
    display: flex;
    align-items: center;
}

#navbar .wrapper-menu .list-menu li:hover a svg {
    transform: rotate(-180deg);
}

#navbar .wrapper-menu .list-menu li a svg {
    transition: all 0.5s ease-out;
}
